/* Other rules */

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f3f3;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* HEADER */

header {
  border-bottom: 1px solid #f2f4f4;
  background-color: #ffffff;
}

header img {
  width: 150px;
}

/* DESCRIPTION */

.description {
  padding-top: 30px;
  background-color: #ffffff;
  height: 257px;
}

.description-wrapper {
  display: flex;
  height: 100%;
  gap: 50px;
}

.col1 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.p-description {
  font-size: 19px;
  color: #808484;
  line-height: 28.8px;
}

.col2 {
  width: 30%;
  height: 100%;
}

.col2 img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

/* MEAL */

.meals {
  display: flex;
  padding-top: 30px;
  gap: 30px;
}

.category-container {
  width: 70%;
}

.panier-container {
  width: 30%;
}

.category {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.item {
  width: calc((100% - 40px) / 2);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.item p {
  font-size: 14px;
  color: #808484;
  line-height: 20.8px;
}

.category-description {
  margin-bottom: 20px;
}

.price {
  font-size: 17px;
}

.category-col1 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.category-col2 {
  width: 40%;
  display: flex;
  align-items: center;
}

.category-col2 img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.populaire {
  color: #ff8000;
  font-size: 12px;
  font-weight: 900;
  margin-left: 20px;
}

.panier {
  width: 350px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: sticky;
  top: 30px;
}

.panier h4 {
  background-color: #bac3c3;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: #8b9a9b;
}

.panier p {
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
  color: #8b9a9b;
}

.panier-line1 {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.panier-line1 p:first-child {
  margin-right: 10px;
}

.panier-line2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.panier-line3 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid;
}
